body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
}

footer {
	margin: 50px 0;
}

hr {
	border-top: 2px solid #136F0B;
}

body {
	background-color: black;
}

h3, h4, h5 {
	color: #319431;
}

h5 {
	margin-left: 15px;
}


.text-featured {
	font-size: 11px;
	color: #77BB72;
}

.text-audio {
	font-size: 10px;
	color: #77BB72;
}

.text-map {
	font-size: 11px;
}

.text-article {
	color: #3c763d;
}

h3 {
	margin-top: 5px;
	margin-left: 15px;
}

p {
	font-size: 14px;
}

.navbar-inverse {
	background-color: black;
	border-color: #136F0B;
}

.navbar-fixed-top {
	border-width: 0 0 2px;
}

.navbar-nav {
	float: right;
}

.navbar-brand {
	font-size: 30px;
	font-color: white;
}

div .video {
	display: block;
	padding-top: 10px;
}

